html, body {
	height: 100%;
	width: 100%;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}
#devin {
	opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.devin {
	opacity: 1 !important;
}
#bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1000;
	height: 95%;
	width: 100%;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
#text {
	text-shadow: 2px 2px 5px #000;
	color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#navbar {
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar-brand,
.navbar-nav li a {
  /*line-height: 65px;*/
  height: 65px !important;
  margin-top: 3px;
  padding-top: 0;
}
.navbar-toggle {
	padding: 20px !important;
}
.nav > li > a {
	padding: 20px !important;
	margin: 0;
}
.navbar-top {
	background-color: transparent !important;
	border-color: transparent !important;
	transition: background-color border-color 3s;
}
.footer {
	margin-top: 60px;
  width: 100%;
  min-height: 60px;
  background-color: #191919;
}

.footer > .container > p {
	margin: 20px 0;
}
.logo {
	transform: rotateZ(-360deg);
	transition: transform 1s;
}
.logo:hover {
  transform: rotateZ(360deg);
  transition: transform 1s;
}
@media (min-width: 1200px) {
	.nav-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}
@media screen and (max-width: 1200px) {
  img.me{
    width: 50%;
  }
}