@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Sarala);
@import url(http://fonts.googleapis.com/css?family=Lobster);
// screen sizes
$screen-small: 640px;
$screen-smaller: 468px;
$screen-smallest: 355px;

// sidebar colors
$sidebar-bgcolor: #292929;
$sidebar-color: #777;
$sidebar-hover-color: #33AD5C;

html, body{
  height: 100%;
  font-family: Sarala;
  background:#303030;
  color: #777;
}
.sidebar {
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 5%;
  color: $sidebar-color;
  background: $sidebar-bgcolor;

  .sidebar-nav {
    a {
      color: $sidebar-color;
      text-decoration: none;
      transition: 1s ease;
      &:hover {
        color: $sidebar-hover-color;
      }
    }
    .sidebar-logo {
      font-family: Lobster, cursive;
      margin-bottom: 40px;
      transition: 1s ease;

      &:hover {
        color: $sidebar-hover-color;
      }
      a {
        border-bottom: 3px solid green;
      }
    }
  }
  @media screen and (max-width: $screen-small) {
    width: 10%;
  }
  @media screen and (max-width: $screen-smaller) {
    width: 15%;
  }
  @media screen and (max-width: $screen-smallest) {
    width: 20%;
  }

}
.footer {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .social-nav {
    width: 100%;
    margin: 0 auto;
    h3 {
      display: inline-block;
      margin-right: 10px;
    }
    a {
      color: $sidebar-color;
    }
    .love {
      display: block;
    }
    .fa-twitter {
      transition: 1s ease;
      &:hover {
        color: #2AA9E0;
      }
    }
    .fa-facebook {
      transition: 1s ease;
      &:hover {
        color: #3B579D;
      }
    }
    .fa-github {
      transition: 1s ease;
      &:hover {
        color: $sidebar-hover-color;
      }
    }
  }
  @media screen and (max-width: $screen-small) {
    display:none;
  }
  @media screen and (max-width: $screen-smaller) {
    display:none;
  }
  @media screen and (max-width: $screen-smallest) {
    display:none;
  }
}
#name {
  line-height: 1.5;
}
.content {
  margin-left: 10%;
  @media screen and (max-width: $screen-small) {
    margin-left: 15%;
  }
  @media screen and (max-width: $screen-smaller) {
    margin-left: 20%;
  }
  @media screen and (max-width: $screen-smallest) {
    margin-left: 25%;
  }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1.5s infinite;
    -moz-animation: blink 1.5s infinite;
    animation: blink 1.5s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
