@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
	font-family: "Roboto";
}
.text-center {
	margin: 0 auto;
	text-align: center;
}
.gutter {
	margin: 0 1rem;
}
a {
	color: #66CCFF;
}
#contacts a {
	color: inherit;
	transition: 1s ease;
}
#contacts a:hover {
	color: #66CCFF;
}