@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html,body {
  height: 100%;
  min-height: 100%;
  font-family: "Open Sans";
}
.center {
  color: #fff;
  position: absolute;
  width: 100%;
  top:25%;left:0;right:0;bottom:20%;
}
.nyan-mode-1 {
  background-image: url(../images/nyan-bg.gif);
}
.nyan-mode-2 {
  background-image: url(../images/lol.gif);
}
.nyan-mode-3 {
  background-image: url(../images/blue.gif);
}
.nyan-mode-4 {
  background-image: url(../images/over9000.gif);
}
.nyan-mode-5 {
  background-image: url(../images/reverse.gif);
}
.nyan-mode-6 {
  background-image: url(../images/erlich.gif);
}
.computer {
  background-image: url(../images/computer.jpg);
}
.back {
  background-image: url(../images/code.jpg);
}
.design {
  background-image: url(../images/design.jpg);
}
.develop {
  background-image: url(../images/develop.jpg);
}
.fixed-bg {
  text-shadow: 3px 3px 1px #000;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.scroll-text {
  min-height: 50%;
  padding-top:5%;
}
.scrolling-bg {
  position: relative;
  height: 100%;
}
h1 {
  font-size: 72px;
}
h3 {
  font-size: 36px;
}